<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.voskalenko.foursquretracker"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="16"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <activity
                android:name=".ui.HomeActivity_"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.VenuesActivity_"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity
                android:name=".ui.FourSqureTrackerPreference"
                android:label="@string/app_name">
        </activity>

        <activity
                android:name=".ui.ProposedVenuesActivity_"
                android:label="@string/app_name">
        </activity>

        <service
                android:name=".service.DetectCheckInSevice_"
                android:enabled="true"
                android:exported="false">
        </service>

        <receiver
                android:name=".service.ScheduleReceiver_"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.voskalenko.foursquretracker.svc.ScheduleReceiver"/>
            </intent-filter>
        </receiver>

        <provider
                android:name=".database.ProposedVenueProvider_"
                android:enabled="true"
                android:exported="false"
                android:authorities="com.voskalenko.provider.foursqretracker"/>

    </application>
</manifest>
